/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%; /* Garante que o layout ocupe toda a largura */
  height: 100%;
}

* {
  box-sizing: border-box; /* Evita problemas de largura e padding */
}
